################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Tools/SitemapGenerator/obj/Debug/net9.0
/Tools/SitemapGenerator/obj
/WebApp/obj
/WebApp.Core/obj
