<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Christian Storb",
  "jobTitle": "Softwareentwickler und IT-Berater",
  "worksFor": {
    "@type": "Organization",
    "name": "STORB Consulting"
  },
  "url": "https://chstorb.github.io",
  "sameAs": [
    "https://github.com/chstorb",
    "https://www.linkedin.com/in/christian-storb-326249aa/",
    "https://twitter.com/musicstc",
    "https://www.instagram.com/christian_storb/"
  ],
  "knowsAbout": [
    ".NET Development",
    "Cloud Technologies",
    "Microservices",
    "Software Architecture",
    "IT Consulting"
  ],
  "email": "mail2storb@gmail.com"
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "STORB Consulting",
  "alternateName": "STC STORB Consulting",
  "url": "https://chstorb.github.io",
  "logo": "https://chstorb.github.io/assets/images/consulting/stclogotransparent.png",
  "founder": {
    "@type": "Person",
    "name": "Christian Storb"
  },
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Nottuln",
    "postalCode": "48301",
    "streetAddress": "Humboldtweg 3",
    "addressCountry": "Deutschland"
  }
}
</script>