<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{{ site.baseurl }}/">STC STORB Consulting</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/consulting/">Über uns</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/principles/">Grundsätze</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/profiles/">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/services/">Services</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/career/career/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Karriere
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/career/career/">Übersicht</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/career/requirements/">Anforderungen</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/partner/partner/">Partner</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/references/references/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Referenzen
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/references/references/">Übersicht</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/references/featured-companies/">Ausgewählte Unternehmen</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/references/featured-projects/">Ausgewählte Projekte</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/references/featured-references/">Ausgewählte Referenzen</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/contact/contact/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kontakt
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/contact/contact/">Übersicht</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/contact/contacts/">Ansprechpartner</a></li>
          </ul>
        </li>
      </ul>      
    </div>
  </div>
</nav>