<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareSourceCode",
  "name": "{{ page.title }}",
  "version": "{{ page.version }}",
  "description": "{{ page.description | default: page.excerpt | strip_html | strip_newlines | escape }}",
  "codeRepository": "{{ page.repo_url }}",
  "license": "https://opensource.org/licenses/MIT",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "programmingLanguage": {
    "@type": "ComputerLanguage",
    "name": "C#"
  },
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}"
  }
}
</script>
