<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://chstorb.github.io/#person",
  "name": "Christian Storb",
  "jobTitle": "Softwareentwickler und IT-Berater",
  "worksFor": [
    {
      "@type": "Organization",
      "name": "STORB Consulting",
      "url": "https://chstorb.github.io"
    },
    {
      "@type": "Organization",
      "name": "DBT Digital Building Technology",
      "url": "https://www2.wibutler.com/"
    }
  ],
  "url": "https://chstorb.github.io",
  "email": "mail2storb@gmail.com",
  "sameAs": [
    "https://github.com/chstorb",
    "https://www.linkedin.com/in/christian-storb-326249aa/",
    "https://twitter.com/ChristianStorb",
    "https://www.instagram.com/storbconsulting",
    "https://www.facebook.com/storb.christian"
  ],
  "knowsAbout": [
    ".NET Softwarearchitektur und -entwicklung",
    "Cloud Computing (Azure)",
    "IT-Strategy & Consulting",
    "Microservices",
    "Legacy System Modernization"
  ],
  "alumniOf": {
    "@type": "EducationalOrganization",
    "name": "FH Münster",
    "url": "https://www.fh-muenster.de"
  }
}
</script>