<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "https://chstorb.github.io/#organization",
  "name": "STORB Consulting",
  "alternateName": "STC STORB Consulting",
  "url": "https://chstorb.github.io",
  "logo": "https://chstorb.github.io/assets/images/consulting/stclogotransparent.png",
  "founder": {
    "@id": "https://chstorb.github.io/#person"
  },
  "sameAs": [
    "https://chstorb.github.io",
    "https://github.com/chstorb",
    "https://www.linkedin.com/in/christian-storb-326249aa/"
  ],
  "telephone": "+49 (0) 1590 6810 667",
  "email": "mail2storb@gmail.com",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Nottuln",
    "postalCode": "48301",
    "streetAddress": "Humboldtweg 3",
    "addressCountry": "DE"
  }
}
</script>