<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://chstorb.github.io/#person",
  "name": "Christian Storb",
  "jobTitle": "Softwareentwickler und IT-Berater",
  "worksFor": [
    {
      "@type": "Organization",
      "name": "STORB Consulting"
    },
    {
      "@type": "Organization",
      "name": "DBT Digital Building Technology"
    }
  ],
  "url": "https://chstorb.github.io",
  "email": "mailto:mail2storb@gmail.com",
  "sameAs": [
    "https://github.com/chstorb",
    "https://www.linkedin.com/in/christian-storb-326249aa/",
    "https://twitter.com/ChristianStorb",
    "https://www.instagram.com/storbconsulting",
    "https://www.facebook.com/storb.christian"
  ],
  "knowsAbout": [
    ".NET",
    "Cloud Computing",
    "Azure",
    "Microservices",
    "Software Architecture",
    "IT Consulting"
  ]
}
</script>