@using BlazorWebAssemblyApp.Shared
@inherits LayoutComponentBase

<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>

<RadzenComponents />

<RadzenLayout>

    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.SpaceBetween"
                     Class="w-100 rz-p-2">

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                <RadzenLabel Text="STC STORB Consulting" Class="rz-ml-3 rz-text-nowrap" />
            </RadzenStack>

            <RadzenMenu Orientation="Orientation.Horizontal" Style="display:none;">
                <RadzenMenuItem Text="DataGrid Demo" Path="https://storbconsulting.wordpress.com" Icon="grid_on" />
                <RadzenMenuItem Text="Contact" Path="https://storbconsulting.wordpress.com" Icon="mail" />

                <RadzenMenuItem Text="Account" Icon="account_circle">
                    <RadzenMenuItem Text="Profile" Path="https://storbconsulting.wordpress.com" />
                    <RadzenMenuItem Text="Settings" Path="https://storbconsulting.wordpress.com" />
                    <RadzenMenuItem Text="Logout" Path="https://storbconsulting.wordpress.com" />
                </RadzenMenuItem>
            </RadzenMenu>

        </RadzenStack>
    </RadzenHeader>
        
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <DynamicPanelMenu Tenant="@TenantNames.Consulting" />
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>

    <RadzenFooter>
        <! -- Sticky footer content -->
    </RadzenFooter>

</RadzenLayout>

<div class="footer-container">
    <Footer Tenant="@TenantNames.Consulting" />
</div>