<!DOCTYPE html>
<html lang="{{ site.lang }}" class="h-100" data-bs-theme="dark">

<head>
  <!-- Character encoding -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO & Social -->
  {% seo %}
  {% include schema-person.html %}
  {% include schema-organization.html %}
  <meta name="robots" content="index, follow">

  <!-- Verification -->
  <meta name="msvalidate.01" content="50E4DF6885A9E802F9939396E0483E3D" />
  <meta name="google-site-verification" content="v1IaICzb6Ve4AAMD6dPYhqWkk5TxQ5Aa6vRxUSs89aA" />

  <!-- Assets -->
  <link href="{{ '/assets/images/consulting/favicon.png' | relative_url }}" rel="icon" type="image/png">

  <!-- CSS -->
  <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}?v={{ site.time | date: '%s' }}" rel="stylesheet">
  <link href="{{ '/assets/css/material-symbols.css' | relative_url }}?v={{ site.time | date: '%s' }}" rel="stylesheet">
  <link href="{{ '/assets/css/custom.css' | relative_url }}?v={{ site.time | date: '%s' }}" rel="stylesheet">
  <link href="{{ '/assets/css/ads.css' | relative_url }}?v={{ site.time | date: '%s' }}" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4ETH06PXMC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-4ETH06PXMC');
  </script>
</head>

<body class="d-flex flex-column h-100">
  {% include ad-carousel.html %}

  {% include navbar.html %}

  <main class="flex-shrink-0" role="main">
    <div class="container py-5">

      <!-- Page Title (Visually Hidden by default, accessible for Screen Readers) -->
      <h1 class="visually-hidden mb-4 fw-bold">Christian Storb - STORB Consulting{% if page.title %} - {{ page.title
        }}{% endif %}</h1>

      {{ content }}

    </div>
  </main>

  {% include footer.html %}

  <!-- Scripts -->
  <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
  <script src="{{ '/assets/js/copy-code.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
  <script src="https://www.dwin2.com/pub.1933231.min.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4ETH06PXMC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-4ETH06PXMC');
  </script>
</body>

</html>
