<!DOCTYPE html>
<html lang="de">

<head>
  <!-- Character encoding: must be first -->
  <meta charset="utf-8">

  <!-- Mobile responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}?v={{ site.time | date: '%s' }}" rel="stylesheet">
  <link href="{{ '/assets/css/material-symbols.css' | relative_url }}?v={{ site.time | date: '%s' }}" rel="stylesheet">
  <link href="{{ '/assets/css/custom.css' | relative_url }}?v={{ site.time | date: '%s' }}" rel="stylesheet">

  <meta name="author" content="Christian Storb">

  <!-- Search engine crawling behavior -->
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="bingbot" content="index, follow">

  <!-- Microsoftg Bing Verification Code -->
  <meta name="msvalidate.01" content="50E4DF6885A9E802F9939396E0483E3D" />

  <!-- Google Search Console verification -->
  <meta name="google-site-verification" content="v1IaICzb6Ve4AAMD6dPYhqWkk5TxQ5Aa6vRxUSs89aA" />

  <link rel="icon" href="{{ '/assets/images/consulting/favicon.png' | relative_url }}" type="image/png">

  {% seo %}
</head>

<body class="d-flex flex-column min-vh-100">
  {% include navbar.html %}
  <main class="container my-5 flex-fill" role="main">
    <h1 class="{% if page.title == nil or page.title == '' %} visually-hidden{% endif %}">
      {{- page.title | default: "STC STORB Consulting" -}}
    </h1>
    {% if page.image %}
    <img src="{{ page.image }}" class="img-fluid my-3" alt="{{ post.title }}">
    {% endif %}
    {{ content }}
  </main>
  {% include footer.html %}
  <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
</body>

</html>