<div class="ad-banner text-center py-3">
    <!-- START ADVERTISER: bahn.de - Reise- und Mobilitätsportal from awin.com -->
    <a rel="sponsored" href="https://www.awin1.com/cread.php?s=2476001&v=14964&q=425395&r=1933231">
        <img src="https://www.awin1.com/cshow.php?s=2476001&v=14964&q=425395&r=1933231" border="0">
    </a>
    <!-- END ADVERTISER: bahn.de - Reise- und Mobilitätsportal from awin.com -->

    <div style="min-height: 50px;"></div>

    <!-- START ADVERTISER: bahn.de - Reise- und Mobilitätsportal from awin.com -->
    <a rel="sponsored" href="https://www.awin1.com/cread.php?s=3046804&v=14964&q=372437&r=1933231">
        <img src="https://www.awin1.com/cshow.php?s=3046804&v=14964&q=372437&r=1933231" border="0">
    </a>
    <!-- END ADVERTISER: bahn.de - Reise- und Mobilitätsportal from awin.com -->
</div>